.parent {
    font-family: 'Nunito Sans';
    background-color: #F4D98D;
    background-size: cover;
    background-image: url(../../public/backdrop.svg);
    height: 100vh;
    width: 100vw;
    font-size: large;
    color: white;
    padding: 20px;
}

.excitement {
    display: flex;
    font-size: xx-large;
    background: #C1623C;
    border-radius: 25px;
    align-items: center;
    padding: 10px;
}

.row-one {
    margin-top: 50px;
    display: flex;
    height: fit-content;
    justify-content: space-evenly;
}

.heading {
    display: flex;
    justify-content: space-between;
    font-size: xxx-large;
    padding-bottom: 20px;
}

.explorer-card {
    display: flex;
    flex-direction: column;
    background-color: #DE8563;
    width: 500px;
    left: 25vw;
    top: 18vh;
    border-radius: 25px;
    padding: 30px 30px 30px 30px;
}

.explorer-card-prompt {
    background: #C1623C;
    margin: auto;
    width: 50%;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 20px;
    font-size: x-large;
    padding: 10px;
}

.prompt-and-answer {
    padding-bottom: 20px;
}

.explorer-picture {
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #DE8563;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.checklist-card {
    display: flex;
    flex-direction: column;
    background-color: #DE8563;
    width: 400px;
    left: 25vw;
    top: 18vh;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    color: white;
}

.list-header {
    margin-bottom: 0;
    margin-left: 10px;
}

.list-item {
    margin-left: 10px;
}

.inputs {
    padding: 5px;
    margin: 3px;
}

.buttons-panel {
    margin-left: 10px;
}