
.checklist-card {
    display: flex;
    flex-direction: column;
    background-color: #DE8563;
    width: 400px;  
    left: 25vw;
    top: 18vh;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    color: white;
}

.list-header {
    margin-bottom: 0; 
    margin-left: 10px;
}

.list-item {
    margin-left: 10px;
}

.inputs {
    padding: 5px;
    margin: 3px;
}

.buttons-panel {
    margin-left: 10px;
}